* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.w-100 {
  width: 100%;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  padding: 1rem;
}

.nav-bar .nav-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.nav-bar .nav-logo h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(#e2243e, #ef7b3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

.nav-bar .nav-link {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-link .nav-link-isi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  list-style: none;
}

.nav-bar .nav-link .nav-link-isi li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.nav-bar .nav-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-button button {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.nav-bar .nav-button button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

.nav-bar .nav-responsive,
.nav-bar .nav-circle {
  display: none;
}

.hero-section {
  background-image: url("../assets/ic-food.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-isi {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.hero-section .hero-isi .hero-text {
  width: 100%;
  color: white;
}

.hero-section .hero-isi .hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.3;
}

.hero-section .hero-isi .hero-text p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

.hero-section .hero-isi .hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-isi .hero-button button:first-child {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  margin-right: 1rem;
}

.hero-section .hero-isi .hero-button button:first-child:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

.hero-section .hero-isi .hero-button button:last-child {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.hero-section .hero-isi .hero-button button:last-child:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

.about-container {
  padding: 3rem;
}

.about-container .about-judul {
  border-bottom: 1px solid #ef7b3a;
}

.about-container .about-judul h1 {
  padding-left: 19.2px;
  font-size: 2.7rem;
}

.about-container .about-judul h1 span {
  color: #e2243e;
}

.about-container .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.2rem;
}

.about-container .about-section .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-container .about-section .about-text p {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.about-container .about-section .about-text p:first-child {
  margin-bottom: 20px;
}

.about-container .about-section .about-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 7rem;
  font-weight: 600;
  color: red;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(#e2243e, #ef7b3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container .powered-by {
  padding: 1rem;
}

.about-container .powered-by .powered-judul h1 {
  padding-left: 19.2px;
  font-size: 2.7rem;
  text-align: center;
}

.about-container .powered-by .powered-judul h1 span {
  color: #ef7b3a;
}

.about-container .powered-by .logo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding: 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container {
  background-color: #e2243e;
  padding: 2rem;
  height: 100%;
}

.menu-container .menu-header {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu-header h1 {
  font-size: 2.5rem;
  color: white;
}

.menu-container .menu-header a .menu-button {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  margin-right: 2rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
}

.menu-container .menu-header a .menu-button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

.menu-container .menu-body {
  padding: 0 2rem;
}

.menu-container .menu-body .menu-body-utama {
  width: 100%;
  padding: 2rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card {
  max-width: 70rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-img {
  position: absolute;
  left: -6rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-img img {
  max-width: 20rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text {
  width: 80%;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-header h1 {
  font-size: 3rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-stats .fa-star {
  color: orange;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-stats .stats-rating {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-like-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-like-time .fa-heart {
  color: red;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .menu-card-text .card-isi .card-like-time .time {
  margin-left: 1rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .card-arrow-button {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .card-arrow-button .fa-circle-arrow-right {
  color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-container .menu-body .menu-body-utama .menu-body-card .menu-card .card-arrow-button:hover .fa-circle-arrow-right {
  color: rgba(0, 0, 0, 0.6);
}

.menu-container .menu-body-sekunder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 2.5rem;
  padding: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-container .menu-body-sekunder .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
}

.menu-container .menu-body-sekunder .menu-card .menu-card-img {
  position: absolute;
  left: -1.5rem;
  top: -1rem;
}

.menu-container .menu-body-sekunder .menu-card .menu-card-img img {
  max-width: 8rem;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.menu-container .menu-body-sekunder .menu-card .menu-card-text {
  width: 70%;
}

.menu-container .menu-body-sekunder .menu-card .menu-card-text h3 {
  font-size: 1.2rem;
}

.menu-container .menu-body-sekunder .menu-card .menu-card-text .card-stats .stats-stars .fa-star {
  color: orange;
}

.menu-container .menu-body-sekunder .menu-card .card-arrow-button {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.menu-container .menu-body-sekunder .menu-card .card-arrow-button .fa-circle-arrow-right {
  color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-container .menu-body-sekunder .menu-card .card-arrow-button:hover .fa-circle-arrow-right {
  color: rgba(0, 0, 0, 0.6);
}

.easy-step-title {
  padding-top: 30px;
  text-align: center;
}

.easy-step-title span {
  color: #e2243e;
}

.easy-step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.easy-step-container .easy-step-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.easy-step-container .easy-step-card p {
  text-align: center;
}

.easy-step-container .easy-step-card .icon-container {
  width: 30%;
}

.easy-step-container .easy-step-card .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.easy-step-container .easy-step-card .card-text {
  padding: 10px;
}

.top-recipes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e2243e;
  padding: 1rem;
}

.top-recipes-container .top-recipes {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-recipes-container .top-recipes h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
}

.top-recipes-container .top-recipes .recipes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 5px solid white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 30px;
  background: white;
  margin: 1rem 0;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  border-radius: 10px;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100px;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item .recipes-number {
  font-weight: 500;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item .recipes-item-title {
  font-weight: 500;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 20px;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item a {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item a button {
  padding: 5px 20px;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
}

.top-recipes-container .top-recipes .recipes-container .recipes-item a button:hover {
  background-color: #a5a5a5;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.form-container .form {
  width: 60%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 1rem;
}

.form-container .form .form-header {
  padding: 1rem;
}

.form-container .form .form-header h1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.form-container .form .form-header h1 span {
  color: #e2243e;
}

.form-container .form .form-body {
  padding: 0 1rem;
}

.form-container .form .form-body .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-container .form .form-body .form-item label {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin-bottom: 3px;
}

.form-container .form .form-body .form-item input,
.form-container .form .form-body .form-item textarea {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.form-container .form .form-body .form-button {
  padding: 0.5rem 2rem;
  color: white;
  background-color: #e2243e;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.form-container .form .form-body .form-button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #e2243e;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer .footer-text span {
  font-weight: 400;
  font-size: 1.1rem;
}

.footer .footer-media ul .fa-instagram,
.footer .footer-media ul .fa-twitter,
.footer .footer-media ul .fa-linkedin,
.footer .footer-media ul .fa-facebook,
.footer .footer-media ul .fa-youtube {
  margin: 0 10px;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.footer .footer-media ul .fa-instagram:hover,
.footer .footer-media ul .fa-twitter:hover,
.footer .footer-media ul .fa-linkedin:hover,
.footer .footer-media ul .fa-facebook:hover,
.footer .footer-media ul .fa-youtube:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.login-container .login-form {
  width: 50%;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .login-form .login-form-header h1 .ic {
  color: #e2243e;
}

.login-container .login-form .login-form-header h1 .food {
  color: #ef7b3a;
}

.login-container .login-form .login-form-body {
  width: 80%;
  margin: 20px 0;
}

.login-container .login-form .login-form-body .login-form-input .text-input-box {
  display: block;
  font-size: 1.3rem;
  margin: 10px 0;
  font-weight: 600;
}

.login-container .login-form .login-form-body .login-form-input .input-box {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid;
  padding: 0.2rem 1rem;
}

.login-container .login-form .login-form-body .login-form-input .login-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 2px solid black;
  font-weight: 500;
  cursor: pointer;
}

.login-container .login-form .login-form-body .login-form-input .login-btn:hover {
  color: black;
  background-color: white;
}

.login-container .login-form .login-form-body .password {
  position: relative;
}

.login-container .login-form .login-form-body .password span .fa-eye {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  cursor: pointer;
}

.login-container .login-form .login-form-body .remember-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.login-container .login-form .login-form-body .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.login-container .login-form .login-form-body .register a {
  margin-left: 5px;
}

.login-container .login-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-container .login-img img {
  width: 100%;
}

.register-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-container .img-register {
  width: 50%;
}

.register-container .img-register img {
  width: 100%;
}

.register-container .form-register-container {
  width: 50%;
  padding: 40px;
}

.register-container .form-register-container h1 {
  color: #ef7b3a;
}

.register-container .form-register-container .name-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.register-container .form-register-container .name-row .login-form-input {
  width: 49%;
}

.register-container .form-register-container .name-row .login-form-input input {
  width: 100%;
  border-radius: 10px;
  border: 2px solid;
  padding: 0.4rem 1rem;
}

.register-container .form-register-container .register-row {
  margin: 10px 0;
}

.register-container .form-register-container .register-row .login-form-input label {
  display: block;
}

.register-container .form-register-container .register-row .login-form-input input {
  width: 100%;
  border-radius: 10px;
  border: 2px solid;
  padding: 0.4rem 1rem;
}

.register-container .form-register-container .register-btn {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: 500;
}

.register-container .form-register-container .register-btn:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    background-position: right;
  }
  .hero-section .hero-isi {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section .hero-isi .hero-text {
    text-align: center;
  }
  .hero-section .hero-isi .hero-text h1 {
    font-size: 4rem;
  }
  .hero-section .hero-isi .hero-text p {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .hero-section .hero-isi .hero-button button:first-child,
  .hero-section .hero-isi .hero-button button:last-child {
    font-size: 1.5rem;
  }
  .about-container .about-judul {
    text-align: center;
  }
  .about-container .about-judul h1 {
    font-size: 4rem;
  }
  .about-container .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-container .about-section .about-text {
    text-align: start;
  }
  .about-container .powered-by .logo-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu-container .menu-body {
    padding: 0;
  }
  .menu-container .menu-body .menu-body-utama {
    display: none;
  }
  .top-recipes-container .top-recipes {
    width: 100%;
  }
  .form-container {
    padding: 2rem;
  }
  .form-container .form {
    width: 80%;
  }
  .login-img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .nav-bar .nav-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-bar .nav-logo h1 {
    font-size: 1.2rem;
    text-align: start;
  }
  .nav-bar .nav-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .nav-circle .circle {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    background: -webkit-gradient(linear, left top, right bottom, from(#e2243e), to(#ef7b3a));
    background: linear-gradient(to right bottom, #e2243e, #ef7b3a);
    z-index: 1001;
  }
  .nav-bar .nav-responsive {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    background-color: white;
    height: 100vh;
    z-index: 1000;
    -webkit-animation: slideRight 1200ms ease-out;
            animation: slideRight 1200ms ease-out;
  }
  .nav-bar .nav-responsive .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi li a {
    color: black;
    font-size: 2rem;
    padding: 0.5rem;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi .nav-sign-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi .nav-sign-mobile a button {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
    background: linear-gradient(to right, #e2243e, #ef7b3a);
    border: none;
    padding: 0.6rem 2.5rem;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
  }
  .nav-bar .nav-responsive .nav-link .nav-link-isi .nav-sign-mobile a button:hover {
    background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
    background: linear-gradient(to left, #e2243e, #ef7b3a);
  }
  .nav-bar .nav-link {
    display: none;
  }
  .nav-bar .nav-button {
    display: none;
  }
  .hero-section .hero-isi .hero-text h1 {
    font-size: 2.3rem;
  }
  .hero-section .hero-isi .hero-text p {
    font-size: 1rem;
  }
  .hero-section .hero-isi .hero-button button:first-child,
  .hero-section .hero-isi .hero-button button:last-child {
    font-size: 0.8rem;
  }
  .about-container .about-judul h1 {
    font-size: 2.7rem;
  }
  .about-container .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-container .about-section .about-logo {
    font-size: 3.5rem;
  }
  .about-container .about-section .about-text {
    text-align: center;
  }
  .about-container .about-section .about-text p {
    font-size: 1rem;
    line-height: normal;
  }
  .about-container .powered-by .logo-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-container .powered-by .logo-container .logo {
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .menu-container .menu-header {
    padding: 0.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-container .menu-header h1 {
    font-size: 2rem;
    text-align: center;
  }
  .menu-container .menu-header a .menu-button {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .menu-container .menu-body-sekunder {
    padding: 1rem;
    -ms-grid-columns: (25rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 25rem);
  }
  .easy-step-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-recipes-container .top-recipes {
    width: 100%;
  }
  .top-recipes-container .top-recipes h1 {
    font-size: 1.5rem;
  }
  .top-recipes-container .recipes-container .recipes-item p {
    font-size: 1rem;
  }
  .top-recipes-container .recipes-container .recipes-item button {
    font-size: 0.8rem;
  }
  .form-container .form {
    width: 100%;
  }
  .form-container .form .form-header h1 {
    font-size: 2rem;
  }
  .form-container .form .form-body .form-item label {
    font-size: 0.9rem;
  }
  .footer .footer-text span {
    font-size: 0.7rem;
  }
  .footer .footer-media ul .fa-instagram,
  .footer .footer-media ul .fa-twitter,
  .footer .footer-media ul .fa-linkedin,
  .footer .footer-media ul .fa-facebook,
  .footer .footer-media ul .fa-youtube {
    font-size: 0.7rem;
  }
  .login-container .login-form .login-form-header h1 {
    font-size: 1.7rem;
  }
  .login-container .login-img {
    display: none;
  }
  .register-container .img-register {
    display: none;
  }
  .register-container .form-register-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0.2;
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0.2;
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
  overflow: hidden;
}

.dashboard .ic-food-dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
}

.dashboard .ic-food-dashboard a {
  text-decoration: none;
}

.dashboard .ic-food-dashboard a h1 {
  font-size: 2.5rem;
  padding: 1rem;
  color: #e2243e;
}

.dashboard .ic-food-dashboard a h1 span {
  color: #ef7b3a;
}

.dashboard .ic-food-dashboard .category {
  padding: 1rem;
}

.dashboard .ic-food-dashboard .category .category-judul {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ef7b3a;
  margin-bottom: 10px;
}

.dashboard .ic-food-dashboard .category .category-isi {
  list-style: none;
}

.dashboard .ic-food-dashboard .category .category-isi .category-isi-item {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .ic-food-dashboard .category .category-isi .category-isi-item input[type="checkbox"] {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}

.dashboard .ic-food-dashboard .category .category-isi .category-isi-item input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ef7b3a;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.dashboard .ic-food-dashboard .category .category-isi .category-isi-item input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.dashboard .ic-food-dashboard .category .category-isi .category-isi-item label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: -4px;
}

.dashboard .isi-dashboard {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard .isi-dashboard .dashboard-utama {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
}

.dashboard .isi-dashboard .dashboard-utama .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.dashboard .isi-dashboard .dashboard-utama .search input {
  padding: 0.6rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5rem;
  font-size: 1rem;
  color: black;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.dashboard .isi-dashboard .dashboard-utama .bookmark-ads {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e2243e;
  padding: 0.2rem;
  border-radius: 3rem;
}

.dashboard .isi-dashboard .dashboard-utama .bookmark-ads .ads-text h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 5px;
}

.dashboard .isi-dashboard .dashboard-utama .bookmark-ads .ads-text p {
  color: white;
  font-weight: 100;
  font-size: 1.1rem;
  opacity: 0.9;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  position: relative;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-img img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text .card-judul {
  font-size: 1.5rem;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text .card-daerah {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text .card-stars {
  list-style: none;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text .card-stars .fa-star {
  color: #ef7b3a;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-text .card-rating {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .card-ingredients .ingredients-judul {
  font-weight: bold;
  font-size: 1.1rem;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .card-ingredients .ingredients-isi {
  padding: 0.5rem 1rem;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .button-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .button-time button {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(#e2243e, #ef7b3a);
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .button-time button:hover {
  opacity: 0.8;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .button-time .time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-bawah .button-time .time .fa-clock {
  color: rgba(0, 0, 0, 0.4);
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .bookmark-like {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 0;
  right: 5px;
  top: 5px;
  display: flex;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .bookmark-like .bookmark-icon,
.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .bookmark-like .bookmark-heart {
  font-size: 1.4rem;
  color: #beb6ab;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .bookmark-like .bookmark-icon:hover,
.dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .bookmark-like .bookmark-heart:hover {
  opacity: 0.6;
}

.dashboard .isi-dashboard .dashboard-bookmark {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container {
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-icon {
  padding: 2rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-icon .fa-bookmark {
  font-size: 5rem;
  color: #c84250;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-header {
  font-size: 2rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi {
  overflow: auto;
  padding: 1rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a {
  text-decoration: none;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item {
  background-color: #c84250;
  width: 100%;
  margin: 10px 0;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-img img {
  width: 100%;
  border-radius: 25px;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-text h6 {
  color: white;
  font-size: 1rem;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-text .bookmark-stars {
  color: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-trash .fa-trash {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item .bookmark-trash .fa-trash:hover {
  color: gray;
}

.dashboard .isi-dashboard .dashboard-bookmark .bookmark-container .bookmark-isi a .bookmark-isi-item:hover {
  background-color: #e2243e;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.detail .x-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 20px 20px 0 0;
}

.detail .x-button a {
  text-decoration: none;
  color: black;
}

.detail .x-button i {
  font-size: 2rem;
}

.detail .detail-container {
  width: 80%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.detail .detail-container .header-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail .detail-container .header-detail .detail-card-image {
  width: 30%;
  padding: 40px;
}

.detail .detail-container .header-detail .detail-card-image img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail .detail-container .header-detail .detail-attributes {
  width: 30%;
}

.detail .detail-container .header-detail .detail-attributes .detail-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail .detail-container .header-detail .detail-attributes .detail-icons .detail-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-top: 5px;
}

.detail .detail-container .header-detail .detail-descriptions {
  width: 50%;
}

.detail .detail-container .header-detail .detail-descriptions .detail-description-button button {
  padding: 10px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}

.detail .detail-container .header-detail .detail-descriptions .detail-description-button button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

.detail .detail-container .header-detail .detail-descriptions .detail-description-button button a {
  text-decoration: none;
  color: white;
}

.detail .detail-container .ingredients {
  padding: 40px;
}

.detail .detail-container .ingredients .ingredients-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 150px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail .detail-container .ingredients .ingredients-image .ingredient-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail .detail-container .ingredients .ingredients-image .ingredient-card .img-ingredient img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.detail .detail-container .step-cook {
  padding: 0 40px;
}

.detail .detail-container .restaurant-btn {
  margin: 20px 40px;
  padding: 10px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to right, #e2243e, #ef7b3a);
  border: none;
  padding: 0.6rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.detail .detail-container .restaurant-btn:hover {
  background: -webkit-gradient(linear, right top, left top, from(#e2243e), to(#ef7b3a));
  background: linear-gradient(to left, #e2243e, #ef7b3a);
}

@media screen and (max-width: 820px) {
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    overflow: visible;
  }
  .dashboard .isi-dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .dashboard .isi-dashboard .dashboard-utama .bookmark-ads {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .dashboard .isi-dashboard .dashboard-utama .bookmark-ads .ads-text {
    padding: 1rem;
  }
  .dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-img {
    border-radius: 1rem;
    background-image: url(../assets/photo.jpg);
    background-size: cover;
  }
  .dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-img img {
    display: none;
  }
  .dashboard .dashboard-bookmark {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .detail .detail-container .header-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px 40px 0 40px;
  }
  .detail .detail-container .header-detail .detail-card-image {
    width: 100% !important;
    padding: 20px 0 !important;
  }
  .detail .detail-container .header-detail .detail-card-image img {
    width: 100% !important;
    border-radius: 25px !important;
    height: auto !important;
  }
  .detail .detail-container .header-detail .detail-attributes {
    width: 100% !important;
  }
  .detail .detail-container .header-detail .detail-descriptions {
    width: 100% !important;
  }
  .detail .detail-container .ingredients .ingredients-image {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .dashboard .isi-dashboard {
    padding: 0;
  }
  .dashboard .isi-dashboard .dashboard-utama .dashboard-card {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard .isi-dashboard .dashboard-utama .dashboard-card .card .card-atas .card-atas-img {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */